body{
    background-color: rgb(221, 233, 170);
}
h1{
    text-align: center;
}
h2{
    color: rgb(6, 6, 12);
text-align: center;
}
#hsum{
    text-align:left;
}
.sumamed{
    background-color: rgb(155, 248, 175) ;
    float:center;
   border-radius: 10px;
   width: 200px;
   box-shadow: 10px 10px 5px 0px rgba(59, 53, 53, 0.75);
   padding: 10px;
   margin-bottom: 30px;

}
#foto{
    border-radius: 15px;
    float: center;
    margin-left: 550px;
}

.Bio{
    background-color: rgb(146, 253, 169) ;
    float:center;
   border-radius: 10px;
   width: 600px;
   box-shadow: 10px 10px 5px 0px rgba(59, 53, 53, 0.75);
   padding: 10px;
   margin-bottom: 30px;
  }
.Edu{
    background-color: rgb(131, 253, 131);
    float: center;
        margin-left: 144px;
    width: 600px;
    border-radius: 10px; 
    box-shadow: 10px 10px 5px 0px rgba(59, 53, 53, 0.75);
    padding: 10px;
    margin-bottom: 30px;
}
    .lang{
    width: 600px;
    border-radius: 10px; 
    background-color: rgb(97, 248, 97);
    box-shadow: 10px 10px 5px 0px rgba(59, 53, 53, 0.75);
    margin-left: 288px;
    margin-bottom: 30px;
    padding: 10px;
}
#hlang{
    text-align: center;
}
.skills{
    float: center;
     width: 600px;
    border-radius: 10px; 
    background-color: rgb(78, 250, 62);
    box-shadow: 10px 10px 5px 0px rgba(59, 53, 53, 0.75);
    margin-left: 432px;
    padding: 10px;
    margin-bottom: 30px;
}
.contact{
    float: center;
    width: 600px;
    border-radius: 10px; 
    background-color: rgb(27, 180, 81);
    box-shadow: 10px 10px 5px 0px rgba(59, 53, 53, 0.75);
    margin-left: 576px;
    padding: 10px;
    margin-bottom: 30px;
}
.loc{
    float: center;
    width: 600px;
    border-radius: 10px; 
    background-color: rgb(38, 138, 51);
    box-shadow: 10px 10px 5px 0px rgba(59, 53, 53, 0.75);
    margin-left: 720px;
    padding: 10px;   
    margin-bottom: 30px;
}
#sum{
    float: center;
    width: 600px;
    border-radius: 10px; 
    
  
}
ul.bos{
    list-style-image: url(imgs/bosnia.jpg);
}
ul.french{
    list-style-image: url(imgs/french.png);
}
ul.eng{
    list-style-image: url(imgs/EN.png);
}
ul.turk{
    list-style-image: url(imgs/turkish-icon-8.jpg);
}
#copy{
    float: center;
    width: 600px;
    border-radius: 10px; 

}
}